<app-question-grid *ngIf="question">
  <div question>
    <app-question [question]="question"></app-question>
  </div>
  <div answer1>
    <app-answer
      [answer]="question.answerA"
      (answerClicked)="answerClicked($event)"
      [index]="1"
    ></app-answer>
  </div>
  <div answer2>
    <app-answer
      [answer]="question.answerB"
      (answerClicked)="answerClicked($event)"
      [index]="2"
    ></app-answer>
  </div>
  <div answer3>
    <app-answer
      [answer]="question.answerC"
      (answerClicked)="answerClicked($event)"
      [index]="3"
    ></app-answer>
  </div>
  <div answer4>
    <app-answer
      [answer]="question.answerD"
      (answerClicked)="answerClicked($event)"
      [index]="4"
    ></app-answer>
  </div>

  <div score>
    <app-score [right]="right" [wrong]="wrong"></app-score>
  </div>

  <div reset>
    <button (click)="reset()">Reset</button>
    <br />
    <a routerLink="/welcome" ariaCurrentWhenActive="page"
      >Terug naar hoofdmenu</a
    >
  </div>
</app-question-grid>
