<mat-grid-list cols="2" rowHeight="100px">
  <mat-grid-tile [colspan]="2" [rowspan]="1"
    ><ng-content select="[question]"></ng-content
  ></mat-grid-tile>

  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <ng-content select="[answer1]"></ng-content
  ></mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <ng-content select="[answer2]"></ng-content
  ></mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <ng-content select="[answer3]"></ng-content
  ></mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <ng-content select="[answer4]"></ng-content
  ></mat-grid-tile>

  <mat-grid-tile [colspan]="2" [rowspan]="1">
    <ng-content select="[score]"></ng-content
  ></mat-grid-tile>
  <mat-grid-tile [colspan]="2" [rowspan]="1">
    <ng-content select="[reset]"></ng-content
  ></mat-grid-tile>
</mat-grid-list>
